<html>
  <head>
    <meta charset="utf-8">
    <title>Kiyomizu Ryokan | Kyoto's Finest Accomodation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

<div id="banner">
<div class="idcard">

</div>



</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/bed.png" alt="picture description" width="100">
    <h2>Rest</h2>
    <p>Relax in the heart of Kyoto</p>
</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/food.png" alt="picture description" width="100">
    <h2>Gourmet</h2>
    <p>Experience one of a kind cuisine</p>
</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/onsen.png" alt="picture description" width="100">
    <h2>Onsen</h2>
    <p>Refresh yourself in natural hot springs</p>
</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/music.png" alt="picture description" width="100">
    <h2>Entertainment</h2>
    <p>Memorable live shows and performances</p>
</div>
    </div>
  </div>
</div>


<div id="footer">
    <ul class="footer-icons">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </ul>
</div>
  </body>
</html>
