<html>
  <head>
    <meta charset="utf-8">
    <title>My landing page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

<div id="banner">

    <h1>I Love Kaori Miyata</h1>
    <p>She is the greatest person in the world</p>
    <p>

      <a href="#" class="btn btn-primary">Click Here to Kiss Kaori</a>
    </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/briefcase.png" alt="picture description" width="100">
    <h2>Smart</h2>
    <p>She is always <strong>working hard</strong></p>
</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/diamond.png" alt="picture description" width="100">
    <h2>Beautiful</h2>
    <p>She is prettier <strong>than a jewel</strong> </p>
</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/heart.png" alt="picture description" width="100">
    <h2>Kind</h2>
    <p>She is always <strong>kind and sweet</strong> </p>
</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
    <img src="images/laptop.png" alt="picture description" width="100">
    <h2>Game</h2>
    <p>She is always <strong>playing games</strong></p>
</div>
    </div>
  </div>
</div>


<div id="footer">
    <ul>
      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>

    </ul>
</div>

    <p>I love Kaori ©Grant Holley</p>
  </body>
</html>
